[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
psycopg2-binary = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
pyyaml = "*"
uritemplate = "*"
django-cors-headers = "*"
django-widget-tweaks = "*"
pillow = "*"
sqlparse = "*"
pytz = "*"
django-ckeditor = "*"

[dev-packages]

[requires]
python_version = "3.10"
